<!-- <ngx-ui-loader fgsColor="#ff4081" pbColor="#ff4081" textColor="#ff4081" pbThickness="6"
	text="Loading information!"></ngx-ui-loader>


<div ngxUiLoaderBlurred (blur)="50"> -->

<!-- {{selectedCategories | json}} -->

<mat-card class="course-registration-card">
    <mat-card-header>
        <div class="card-header">
            <mat-icon class="header-icon">assignment</mat-icon>
            <mat-card-title>Course Registration</mat-card-title>
        </div>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
        <div class="level-selection">
            <mat-form-field appearance="fill" class="level-select-field">
                <mat-label>Select Academic Level</mat-label>
                <mat-select id="levelSelect" [(ngModel)]="selectedLevel" (selectionChange)="filterCourses()">
                    <mat-option *ngFor="let level of uniqueLevels" [value]="level">
                        <mat-icon>school</mat-icon>

                        {{ level }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="selectedLevel" class="course-selection-container">
            <div *ngIf="filteredCourses.length > 0; else emptyState">
                <div class="table-responsive">
                    <table class="courses-table">
                        <thead>
                            <tr>
                                <!-- <th class="checkbox-header">
                                    <input type="checkbox" 
                                           [checked]="isAllCheckBoxChecked()"
                                           (change)="checkAllCheckBox($event)"
                                           class="custom-checkbox">
                                </th> -->

                                <th>Select</th>
                                <th>Course Code</th>
                                <th>Course Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of filteredCourses; let i = index; let odd = odd" [class.odd-row]="odd"
                                [class.even-row]="!odd">
                                <td class="checkbox-cell">
                                    <input type="checkbox" (change)="showCid($event, c.cid)" class="custom-checkbox">
                                </td>
                                <td class="course-code">{{ c.courseCode }}</td>
                                <td class="course-title">{{ c.title }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- <div class="register-button-container">
                    <button mat-raised-button 
                            color="primary" 
                            class="register-button">
                        Register Selected Courses
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div> -->
            </div>
            <ng-template #emptyState>
                <div class="empty-state">
                    <mat-icon>info</mat-icon>
                    <p>No courses available for {{ selectedLevel }}</p>
                </div>
            </ng-template>
        </div>

        <div *ngIf="!selectedLevel" class="initial-state">
            <mat-icon>help_outline</mat-icon>
            <p>Please select your academic level to view available courses</p>
        </div>
    </mat-card-content>
</mat-card>

<!-- 
	{{categories | json}}
	<hr>

	{{transformedData | json}}

	<hr>


	{{ unRegCourse | json}}
	<hr> -->

<!-- {{ RegCourse | json}} -->

<!-- {{courses | json}}
	<hr>
	{{filteredCourses| json}} -->