




<div class="navbar">


  <header @fadeIn *ngIf="!isloggedIn">
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <span>OTC LTD</span>
      <span class="example-spacer"></span>
      <!-- <a mat-button routerLink="/">Home</a> -->
    

      <a *ngIf="!isloggedIn" [routerLink]="'/signup'" mat-button aria-label="Example icon-button with heart icon">
        Register </a>
      <button *ngIf="!isloggedIn" mat-raised-button color="primary" routerLink="/login">Login</button>
    </mat-toolbar>
  </header>

  <!-- IF LOGGED IN NAVBAR FOR NORMAL USER-->













































  <!-- IF LOGGED IN NAVBAR FOR ADMIN-->





























