




<div class="navbar">


  <header @fadeIn >
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <span>OTC LTD</span>
      <span class="example-spacer"></span>
      <!-- <a mat-button routerLink="/">
                    <mat-icon>home</mat-icon>
        Home</a> -->
    

      <a  [routerLink]="'/signup'" mat-button aria-label="Example icon-button with heart icon">
                    <mat-icon>person_add</mat-icon>
        Register </a>
      <button  mat-raised-button color="accent" routerLink="/login">
                    <mat-icon>login</mat-icon>
        Login</button>
    </mat-toolbar>
  </header>













































  <!-- IF LOGGED IN NAVBAR FOR ADMIN-->





























