#quiztitle{
    text-decoration: underline;
}
.correct{
    color: green;
}
.incorrect{
    color: red;
}

.small-devices{
    display: none;
}

.instructions{
    margin-top: 70px;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    .small-devices{
        display: inline;
        }
    .large-devices{
        display: none;
    }
    .cards{
position: relative;
height: auto;
width: auto;
font-size: 15px;
    }
    .spin{
height: 1px;   
width: 1px;
}


    .book{
        display: none;
    }

    .hideInstruct{
        display: none;
    }
   
  }