<!-- {{currentQuestions|json}}

{{ qid| json}} -->
<div class="bootstrap-wrapper">
    <!-- Loading Spinner -->
    <div *ngIf="isLoading" class="loading-overlay">
        <mat-spinner diameter="50"></mat-spinner>
        <p>Loading quiz content...</p>
    </div>
    <div class="container-fluid" *ngIf="!isSubmit && !isLoading">
        <div class="row">
            <div class="hideInstruct col-md-2">














                <!-- instructions -->
                <mat-card class="cards staticCard">
                    <mat-card-content>
                        <h1><b>Instructions</b></h1>
                        <ul>
                            <li style="color: brown;">
                                
                                <span *ngIf="quiz.quizType=='OBJ'">Answer all questions in Section A.</span>
                                <span *ngIf="quiz.quizType=='THEORY'"> Answer <b>{{numberOfQuestionsToAnswer}}</b> questions from section B.</span>
                                <span *ngIf="quiz.quizType=='BOTH'"> Answer all questions in Section A and <b>{{numberOfQuestionsToAnswer}}</b> questions from section B.</span>
                            </li>

                                             

                            <li>Do not refresh the page. You might get new questions</li>
                            <li>Do not switch tabs</li>
                            <li>Also do not minimize the window</li>
                        </ul>
                    </mat-card-content>
                </mat-card>



            </div>

            <!-- Timer counter on small devices -->
            <div class="small-devices col-md-2">
                <mat-card-content>
                    <h1 class="text-center"><i>{{ getFormmatedTime() }} </i></h1>
                </mat-card-content>
            </div>

            <div class="col-md-8">
                <ng-container>
                    <h1 class="mt20">On going quiz {{quizTitle}} for <b> {{courseTitle}}</b></h1>
                </ng-container>
























































































                <!-- {{quiz|json}} -->

                <!-- <div *ngIf="quiz.quizType=='OBJ'"> -->
                    <div *ngIf="questions?.length>0">
                        <div *ngIf="questions">
                            <mat-card class="cards"
                                style="font-family: 'Times New Roman', Times, serif; font-size:18px; color: white;text-align: center; background-color: purple;">
                                <mat-label> SECTION A -{{(timeO * 60)/60}} minutes </mat-label>
                            </mat-card>
                        </div>
                        <mat-card
                            *ngFor="let q of questions| paginate:{itemsPerPage: tableSize, currentPage:page, totalItems:count}; let i = index"
                            class="mt10">
                            <mat-card-content>
                                <span class="no-select">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p> <b> Q {{q.count}} </b> <span class="ml10"
                                                    [innerHTML]="q.content"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <br />
                                    <div class="row mt20">
                                        <div class="col-md-6">
                                            <mat-checkbox [checked]="q.givenAnswer.includes(q.option1)"
                                                (change)="updateSelectedAnswers(q, q.option1, $event.checked)">
                                                {{q.option1}}
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-checkbox [checked]="q.givenAnswer.includes(q.option2)"
                                                (change)="updateSelectedAnswers(q, q.option2, $event.checked)">
                                                {{q.option2}}
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-checkbox [checked]="q.givenAnswer.includes(q.option3)"
                                                (change)="updateSelectedAnswers(q, q.option3, $event.checked)">
                                                {{q.option3}}
                                            </mat-checkbox>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-checkbox [checked]="q.givenAnswer.includes(q.option4)"
                                                (change)="updateSelectedAnswers(q, q.option4, $event.checked)">
                                                {{q.option4}}
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </span>
                            </mat-card-content>
                        </mat-card>
                        <!-- PAGINATION -->
                        <div>
                            <pagination-controls previousLabel="Prev" nextLabel="Next"
                                (pageChange)="onTableDataChange($event)">
                            </pagination-controls>
                        </div>
                    </div>
                <!-- </div> -->

















































































































































                <!-- subjective questions here -->
                <div *ngIf="currentQuestions.length>0; else elseBlock">
                    <mat-card>
                        <mat-card class="cards"
                            style="font-family: 'Times New Roman', Times, serif; font-size:18px; color: white;text-align: center; background-color: purple;">
                            <mat-label> SECTION B -{{(timeT * 60)/60}} minutes </mat-label>
                        </mat-card>
                        <form>
                            <mat-card class="cards"
                                style=" margin: 20px;font-size:18px; color: white;text-align: center; background-color: rgb(86, 82, 82);">
                            </mat-card>
                            <div *ngFor="let question of currentQuestions; let i = index">
                                <mat-card-content class="mat-card-content">
                                    <input type="checkbox" [checked]="question.selected"
                                        (change)="onQuestionSelect(question)" disabled hidden>
                                    <mat-form-field class="mat-form-field" style="margin-top: -450px;">
                                        <mat-label>
                                            <span class="no-select">
                                                {{question.quesNo}} {{ question.question }} {{question.marks}}
                                            </span>
                                        </mat-label>
                                        <textarea class="input" [name]="'givenAnswer' + i"
                                            [(ngModel)]="question.givenAnswer" matInput rows="2"
                                            (ngModelChange)="saveAnswers()" (paste)="disablePaste($event)">
                                        </textarea>
                                    </mat-form-field>
                                </mat-card-content>
                            </div>
                        </form>
                        <mat-card-actions>
                            <mat-card>
                                <div class="container navselect">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="pagination-controls">
                                                <button type="submit" mat-raised-button color="primary"
                                                    (click)="prevPage()"
                                                    [disabled]="currentPage === 0">Previous</button>
                                                <span
                                                    style="color: blueviolet; font-size: large; border: 2px solid red;">
                                                    {{ prefixes[currentPage] }} of {{ prefixes[prefixes.length-1]}}
                                                </span>
                                                <button type="submit" mat-raised-button color="primary"
                                                    (click)="nextPage()"
                                                    [disabled]="currentPage === prefixes.length - 1">Next</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-card-title
                                                style="font-size: 16px; font-family: 'Times New Roman', Times, serif; color: blueviolet;">Select
                                                {{numberOfQuestionsToAnswer}} set(s) of questions
                                                answered!</mat-card-title>
                                            <div *ngIf="prefixes.length > 0" class="prefix-container">
                                                <div *ngFor="let prefix of prefixes" class="prefix-item">
                                                    <mat-checkbox [checked]="selectedQuestions[prefix]"
                                                        (change)="togglePrefixSelection(prefix)">
                                                        {{ prefix }}
                                                    </mat-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-card>
                        </mat-card-actions>
                    </mat-card>
                    <!-- BUTTON IF SUBJECTIVE IS INCLUSIVE -->
                    <div class="contianer centerbtn mt20 mb20">
                        <button mat-raised-button color="primary" (click)="submitAllQuiz()"
                            [disabled]="isSubmitDisabled">Submit Quiz</button>
                    </div>
                </div>
                <!-- BUTTON TO SHOW IS SUBJECTIVE IS NOT INCLUDED -->
                <ng-template #elseBlock>
                    <div class="contianer centerbtn mt20 mb20">
                        <button mat-raised-button color="primary" (click)="submitQuiz()">Submit Quiz</button>
                    </div>
                </ng-template>
            </div>

            <!-- <div class="large-devices col-md-2 fixed-card"> -->
                <!-- <mat-card class="cards"> -->
                    <mat-card-content>
                        <h1 class="text-center"> Time Left: <i>{{ getFormmatedTime() }} </i></h1>
                    </mat-card-content>
                <!-- </mat-card> -->
            <!-- </div> -->
        </div>
    </div>
</div>