

  /* subjective questions card */
  .prefix-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }


  .mat-form-field {
    width: 100%;
}

.navselect{
  align-items: center;
  
}
.pagination-controls{
  align-items: center;
}
  
  /* .prefix-item {
    display: flex;
    align-items: center;
  } */
  /* subjective questions card */


#quiztitle{
    text-decoration: underline;
}
.correct{
    color: green;
}
.incorrect{
    color: red;
}

.small-devices{
    display: none;
}

.instructions{
    margin-top: 70px;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    .small-devices{
        display: inline;
        margin-bottom: 20px;
        position: relative;
        height: 10px;
        }
        
    .large-devices{
        display: none;
    }
    .cards{
position: relative;
height: auto;
width: auto;
font-size: 15px;
    }
    .spin{
height: 1px;   
width: 1px;
}


    .book{
        display: none;
    }

    .hideInstruct{
        display: none;
    }
   
  }
  .text-center{
    font-size: 15px;
    color: white;
    background-color: rgb(230, 43, 90);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    position:fixed;
    /* top: 8px; */
    /* right: 9px; */
    z-index: 1;
        
  }

  .centerbtn{
    text-align: center;
  }
  


  .no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE10+/Edge */
  }

  
  .staticCard{
    position: fixed;
    max-width: 220px; 

}
  
  

 