
.home-container {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  } 
   
  
  .footer  {
   /* background: linear-gradient(180deg, #160150 0%, #053a6e 100%); */
   background: white;
    color: white;
    padding: 1rem;
  }
  