<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
       <div class="login-form-flex">
          <mat-card>

            <div class="container text-center">
              <img style="border-radius: 50%;" src="../../../assets/logo1.jpg" height="150" width="150" alt="logo.png">
              <mat-card-title class=" text-center">Register</mat-card-title>

            </div>
            <form (ngSubmit)="formSubmit()">
              <mat-card-content class=" text-center">
                <mat-form-field class="example-full-width">
                  <input
                  required
                  [(ngModel)]="user.username" name="username" matInput placeholder="Username">
                  <mat-hint>Username must be unique!! </mat-hint>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input required [(ngModel)]="user.password" name="password" type="password" matInput matInput
                    placeholder="Password">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="user.firstname" name="firstname" matInput placeholder="First Name">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="user.lastname" name="lastname" matInput placeholder="Last Name">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Email Address">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="user.phone" name="phone" matInput placeholder="Phone Number">
                </mat-form-field>

                <button type="submit" mat-raised-button color="primary" class="btn-block">Register</button>
                <!-- <button type="submit" mat-raised-button color="accent" style="margin-left: 20px;">Clear</button> -->
  
              </mat-card-content>
              

            </form>
          </mat-card>
        </div>





      </div>
    </div>
  </div>

</div>