   
<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

                <mat-card class="mt20">

                    <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>
                           Sept. 16, 2023
                        </mat-card-title>
                
                        <mat-card-subtitle>
                            233677
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Quiz attemps today</p>
                    </mat-card-content>
                   <mat-card-actions>
                    <button 
                     mat-flat-button color="accent"  >Questions</button>           
                
                   </mat-card-actions>
                </mat-card>
            </div>


            <div class="col-md-4">
                <mat-card class="mt20">
                    <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>
                            Sept. 18, 2022
                        </mat-card-title>
                        <mat-card-subtitle>
                            6746454
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>New Participants today</p>
                    </mat-card-content>
                   <mat-card-actions>
                    <button 
                     mat-flat-button color="accent"  >Questions</button>           
                   </mat-card-actions>
                </mat-card>
            </div>


            <div class="col-md-4">

                <mat-card class="mt20">
                    <mat-card-header>
                        <mat-card-title>
                            Aug. 17, 2020
                        </mat-card-title>
                        <mat-card-subtitle>
                            6635634
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Total Participants</p>
                    </mat-card-content>
                   <mat-card-actions>
                    <button 
                     mat-flat-button color="accent"  >Questions</button>           
                   </mat-card-actions>
                </mat-card>

            </div>

        </div>



        <!-- QUIZ STATISTICS -->
        <mat-card class="mt20">
            <div class="row">
                <div class="col-md-6">     
                    
                    <mat-card-title class="stat">
                        Statistics
                    </mat-card-title>
                            
                </div>
            
            
                <div class="col-md-6">
                        <mat-card-content align="right">
                            <mat-form-field>
                                <mat-label>Select  Course</mat-label>

                                <!-- <mat-select name="category" [(ngModel)] = "quizData.category.cid"> -->

                                <mat-select name="category">
                                    <mat-option *ngFor="let c of categories" [value]="c.cid">
                                        {{c.title}}
                                    </mat-option>
                                </mat-select>
                                <!-- <mat-select>
                                  <mat-option value="option">Data Science</mat-option>
                                  <mat-option value="option">AI</mat-option>
                                  <mat-option value="option">Cybersecurity</mat-option>

                                </mat-select> -->
                              </mat-form-field>
                        </mat-card-content>
                </div>
            </div>

            


<mat-divider></mat-divider>

        <div class="row">
            <div class="col-md-3">
                <mat-card class="mt20">
                    <mat-card-header>
                        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>
                            <mat-icon mat-list-icon  class="icon-position">people</mat-icon> 
                           No. of Participants
                            <p>  49087</p>
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
            </div>


            <div class="col-md-3">
                <mat-card class="mt20">
                    <mat-card-header>
                        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>
                            <mat-icon mat-list-icon  class="icon-position">calculate</mat-icon> 
                            Average Score
                            <p>  498</p>
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
            </div>


            <div class="col-md-3">
                <mat-card class="mt20">
                    <mat-card-header>
                        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>
                            <mat-icon mat-list-icon  class="icon-position">access_alarm</mat-icon> 
                            Average Time
                            <p>  49 min</p>
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
            </div>


            <div class="col-md-3">
                <mat-card class="mt20">
                    <mat-card-header>
                        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>
                            <mat-icon mat-list-icon  class="icon-position">edit</mat-icon> 
                           Quiz Name
                            <p>  Basics of Java</p>
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
            </div>

        </div>
    </mat-card>








    <div class="row">
        <div class="col-md-4">

            <mat-card class="mt20">

                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>
                       Unique Participants
                    </mat-card-title>
            
                    <mat-card-subtitle>
                        Number of participants over time.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>


                    
                    <mat-form-field class="example-form-field">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="datepicker">
                        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                          <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                          </mat-datepicker-actions>
                        </mat-datepicker>
                      </mat-form-field>
                      
                      <mat-form-field class="example-form-field">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-date-range-picker #rangePicker>
                          <mat-date-range-picker-actions>
                            <button mat-button matDateRangePickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
                          </mat-date-range-picker-actions>
                        </mat-date-range-picker>
                      </mat-form-field>
                      

                    <!-- <mat-form-field>
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>


                      <mat-form-field>
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="end">
                        <mat-datepicker-toggle matIconSuffix [for]="end"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>  -->
                      




                </mat-card-content>
               <mat-card-actions>
                <button mat-flat-button color="accent"  >Load Data</button>           
            
               </mat-card-actions>
            </mat-card>
        </div>


        <div class="col-md-8">
            <mat-card class="mt20">
              
                <mat-card-content>
                    <!-- <p>New Participants today</p>
                </mat-card-content>
               <mat-card-actions>
                <button 
                 mat-flat-button color="accent"  >Questions</button>           
               </mat-card-actions> -->
               <div>
                <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
            </div> 
            </mat-card-content>



            </mat-card>
        </div>

    </div>





    </div>
</div>
