/* .full-width{
    width: 100%;
} */


.login-form-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .button-flex-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .button-flex{
    display: inline-block;
    width: 100%;
    /* justify-content: flex-end; */
  }


  mat-card{
    margin: 1px;
    text-align: left;
}

.mat-mdc-form-field{
    width: 95%;
    margin: 1%;
}
.mat-50{
    width:48%;
    margin: 1%;
}

button{
    margin: 2px;
}