<!-- IF LOGGED IN NAVBAR ENDS-->
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="/user-dashboard/0">
          <mat-icon matListItemIcon>home</mat-icon> 
          
                        <span matLine>Home</span>

        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/user-dashboard/register">
          <mat-icon matListItemIcon>explore</mat-icon> Register Courses
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button routerLink="/user-dashboard/courses">
          <mat-icon matListItemIcon>table</mat-icon> My Courses
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/user-dashboard/quizzes">
          <mat-icon matListItemIcon>settings</mat-icon> Available Quizzes
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button (click)="openUpdateDialog(updateDialog)">
          <mat-icon matListItemIcon class="icon-position">email</mat-icon> Send us a Mail
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button (click)="logout()">
          <mat-icon matListItemIcon>logout</mat-icon> Logout
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center; min-height: 600px;">
      <!-- Content will be rendered here -->
      <!-- <router-outlet></router-outlet> -->
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<!-- POP UP DIALOG BOX TO SEND MAIL -->
<ng-template #updateDialog let-data="data">
  <h1 mat-dialog-title>Send your inquiry or complaint</h1>
  <div mat-dialog-content>
    <mat-form-field class="mw450" appearance="fill">
      <mat-label>Recipient</mat-label>
      <input matInput [(ngModel)]="mailInfo.mailTo" name="mailTo" disabled>
    </mat-form-field>

    <mat-form-field class="mw450" appearance="fill">
      <mat-label>Sender Email</mat-label>
      <input matInput placeholder="Sender Email" 
             [formControl]="emailFormControl" 
             [(ngModel)]="mailInfo.mailFrom"
             name="mailFrom" 
             required>
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mw450" appearance="fill">
      <mat-label>Subject</mat-label>
      <input matInput placeholder="Email Subject" 
             [(ngModel)]="mailInfo.mailSubject"
             name="mailSubject"
             required>
      <mat-error>
        Subject is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mw450" appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput 
                cdkTextareaAutosize 
                #autosize="cdkTextareaAutosize" 
                name="mailContent"
                [(ngModel)]="mailInfo.mailContent" 
                cdkAutosizeMinRows="5" 
                cdkAutosizeMaxRows="10"
                required></textarea>
      <mat-error>
        Message is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div mat-dialog-actions align="end">
      <button mat-button (click)="dialogRef.close()">Cancel</button>
      <button mat-raised-button color="primary" (click)="sendEmail()" [disabled]="!emailFormControl.valid || !mailInfo.mailSubject || !mailInfo.mailContent">
        Send Mail
      </button>
    </div>
  </div>
</ng-template>