/*WaterMark Styling*/
.watermarkss {
    position: fixed;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%) rotate(-45deg); /* Rotate the text diagonally */
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
    pointer-events: none;
    z-index: 1000;
    user-select: none;
    visibility: hidden;
  }
    @media print {
        .watermarkss {
            visibility: visible;
            position: fixed;
            top: 50%;
            left: 50%;
            /* transform: translate(-50%, -50%); */
            transform: translate(-50%, -50%) rotate(-45deg); /* Rotate the text diagonally */
            font-size: 6rem;
            color: rgba(0, 0, 0, 0.1);
            pointer-events: none;
            z-index: 1000;
            user-select: none;
          }
    
    }

    .caption{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

    #cape{
        font-size: 15px;
        text-transform: uppercase;
        color: rgb(6, 6, 6);
    }
    #marks{
        line-height: 12px;
        border: 3px,solid, #000000;
        padding: 10px; 
    }

    #marksU{
        text-decoration: underline;
        font-size: large;
    }

    .data{
        /* color:rgb(221, 74, 177); */
        line-height: 1.2;
        /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    }


   

    em.prefixTotals{
        color: rgb(133, 78, 78);
        text-align: right;
        position: relative;
        margin-left: 10px;
    }

    em.grandTotals{
        color: rgb(72, 13, 184);
    }

