<mat-card>

  <mat-list>
    <div mat-subheader>
      <h1> All Course</h1>
    </div>

    <div *ngIf="categories.length > 0; else elseBlock">
      <table class="datatable">
        <thead>
          <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of categories; let i=index; let odd = odd" [ngClass]="odd ? 'odd_col' : 'even_col'">
            <td>{{ c.courseCode}}</td>
            <td>{{ c.title }}</td>

            <td>


              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">



                <!-- <button mat-menu-item [routerLink]="'/admin/update-category/'+ c.cid">
                  <mat-icon color="accent">update</mat-icon>
                  <span> Update
                  </span>
                </button> -->

                <button mat-menu-item color="primary"
                (click)="openUpdateObjDialog(c.cid, updateDialogCategory)">
                <mat-icon color="accent">update</mat-icon>
                <span> Update
                </span>
              </button>







                <button mat-menu-item (click)="deleteCategor(c.cid)">
                  <mat-icon color="accent">delete</mat-icon>
                  <span> Delete
                  </span>
                </button>
              </mat-menu>

            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #elseBlock>No Course Available</ng-template>

  </mat-list>
  <div class="container text-center">
    <button mat-raised-button color="accent" routerLink="/admin/add-category"> Add New Course</button>
  </div>
</mat-card>




<!-- POP UP DIALOG BOX FOR EDIT -->
<ng-template #updateDialogCategory let-data="data">
  <h1 mat-dialog-title>Update Category</h1>

  <div mat-dialog-content>  
      <!-- {{category | json}} -->
      <mat-card-content>
          <div class="bootstrap-wrapper">
              <div class="row">
                  <div class="col-md-8 offset-md-2">
                      <!-- <form *ngIf="category" (ngSubmit)="updateCategoryData()"> -->
                          <mat-label>Course Title:</mat-label>
                          <mat-form-field class="w100" appearance="outline">
                              <input [(ngModel)]="categoryEdit.title" type="text" name="title" matInput>
                          </mat-form-field>
                          <mat-label>Course Code:</mat-label>
                          <mat-form-field class="w100" appearance="outline">
                              <input [(ngModel)]="categoryEdit.courseCode" type="text" name="courseCode" matInput>
                          </mat-form-field>
                            <mat-label>Level:</mat-label>
                          <mat-form-field class="w100" appearance="outline">
                              <mat-label>Select Level:</mat-label>
  
                              <mat-select name="level" [(ngModel)]="categoryEdit.level">
                                  <mat-option [value]="'Level 100'">Level 100</mat-option>
                                  <mat-option [value]="'Level 200'">Level 200</mat-option>         
                                  <mat-option [value]="'Level 300'">Level 300</mat-option>
                                  <mat-option [value]="'Level 400'">Level 400</mat-option>
                                  
                              </mat-select>
                          </mat-form-field>
                          <mat-label>Description</mat-label>
                          <mat-form-field class="w100" appearance="outline">
                              <textarea [(ngModel)]="categoryEdit.description" rows="10" name="description" matInput>
                          </textarea>
                          </mat-form-field>
                          <!-- <div class="container text-center mt15">
                              <button mat-raised-button color="accent" type="submit">Update</button>
                          </div> -->
                      <!-- </form> -->
                  </div>
              </div>
          </div>
      </mat-card-content>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button (click)="updateCategoryData()">Update</button>
  </div>
</ng-template>